.register{
    position: absolute;
    text-decoration: none;
    top: 30px;
    left: 40px;
    color: #5277ff;
    font-weight: bold;
    border: 1px solid;
    padding: 4px;
    transition: .3s;
}
.register:hover{
    background: #5277ff;
    color: #fff;
    filter: drop-shadow(-1px 1px 5px #5277ff);
}